aldryn-apphooks-config==0.3.3
aldryn-boilerplates==0.7.5
aldryn-bootstrap3==1.2.2
aldryn-categories==1.0.4
aldryn-common==1.0.4
aldryn-forms==2.2.2
-e git+https://github.com/aldryn/aldryn-newsblog.git@260a459ae1ed0608ee937d2d594a797188bb65b2#egg=aldryn_newsblog
aldryn-people==1.2.2
aldryn-reversion==1.1.0
aldryn-style==1.1.4
aldryn-translation-tools==0.2.1
altgraph==0.14
appdirs==1.4.3
Babel==2.4.0
backport-collections==0.1
bdist-mpkg==0.5.0
-e git+https://github.com/alexmalykh/cmsplugin-css-background.git@c99d7fe578c208445aea0b957772542de92bf772#egg=cmsplugin_css_background
cmsplugin-filer==1.1.3
cssselect==1.0.1
cssutils==1.0.2
dj-database-url==0.4.2
Django==1.11.2
django-absolute==0.3
django-appconf==1.0.2
django-appdata==0.1.6
django-classy-tags==0.8.0
django-cms==3.4.4
django-durationfield==0.5.4
django-emailit==0.2.2
django-filer==1.2.7
django-form-designer==0.8.0
django-formtools==2.0
django-mptt==0.8.7
django-parler==1.7
django-phonenumber-field==1.3.0
django-polymorphic==1.0.2
django-reversion==1.10.2
django-sekizai==0.10.0
django-simple-captcha==0.5.5
django-sizefield==0.9.1
django-sortedm2m==1.3.3
django-tablib==3.2
django-taggit==0.22.1
django-treebeard==4.1.0
djangocms-admin-style==1.2.7
djangocms-attributes-field==0.2.0
djangocms-column==1.7.0
djangocms-css-background==1.0.4
djangocms-flash==0.3.0
djangocms-googlemap==1.1.0
djangocms-installer==0.9.6
djangocms-link==2.1.2
djangocms-picture==2.0.5
djangocms-placeholder-attr==1.0.3
djangocms-snippet==1.9.2
djangocms-text-ckeditor==3.5.0
djangocms-video==2.0.3
easy-thumbnails==2.3
heroku==0.1.4
html5lib==0.9999999
lxml==3.7.3
macholib==1.8
olefile==0.44
packaging==16.8
phonenumbers==8.4.3
phonenumberslite==8.4.3
Pillow==4.1.1
premailer==3.0.1
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
python-slugify==1.2.0
pytz==2017.2
requests==2.14.2
six==1.10.0
solid-i18n==1.4.1
tablib==0.11.4
tzlocal==1.4
Unidecode==0.4.20
uWSGI==2.0.15
webencodings==0.5.1
YURL==0.13
