{% extends "base.html" %}
{% load cms_tags %}

{% block breadcrumb %}{% endblock %}


{% block content %}
    

    <!--========== HERO ==========-->
  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../../static/img/corsaire_main.jpg" alt="KievBallet #spring_corsaire ballet">
        <div class="carousel-caption">
          <h3 class="wow fadeIn g-font-size-35--xs g-font-size-45--sm g-font-size-55--md g-color--white" data-wow-delay=".3s" data-wow-duration="1s">{% placeholder carousel_1 %}</h3>
          <a class="js__popup__youtube" href="https://www.youtube.com/watch?v=LfevIAgnvgw" title="Intro Video">
            <i class="s-icon s-icon--lg s-icon--white-brd g-radius--circle ti-control-play"></i>
          </a>
        </div>
      </div>
      <div class="item">
        <img src="../../static/img/1920x1080/01.jpg" alt="KievBallet carmen suita ballet">
        <div class="carousel-caption">
          <h3 class="wow fadeIn g-font-size-35--xs g-font-size-45--sm g-font-size-55--md g-color--white" data-wow-delay=".3s" data-wow-duration="1s">{% placeholder carousel_2 %}</h3>
          <a class="js__popup__youtube" href="https://www.youtube.com/watch?v=xSZwpZbrIZQ" title="Intro Video">
            <i class="s-icon s-icon--lg s-icon--white-brd g-radius--circle ti-control-play"></i>
          </a>
        </div>
      </div>
    </div>
    <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
      <i class="g-font-size-18--xs g-color--white ti-angle-double-down"></i>
      <p class="text-uppercase g-color--white g-letter-spacing--3 g-margin-b-0--xs">{% static_placeholder 'arrow' %}</p>
    </a>
  </div>
  <!--========== END HERO ==========-->

{% endblock %}